/* Created by Roni Salman */

html,body{
	height: 100%;
	background-color: #a36718;
	margin: 0px;
	font-family: 'Varela Round', sans-serif;
}

#navbar{
	background-color: white; 
	text-align: center;
	position: absolute;
	width: 100%;
}


a{
	margin: 0px 15px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	float: left;
	padding: 0 15px;
}

h1{
	display: inline;
	font-size: 20px;
}

#contact,#menu{
	float: right;
}

#menu{
	border: none;
	background: none;
	outline: none;
}

.layer{
	display: none;
	margin: 2px 0px;
	width: 25px;
	height: 5px;
	background-color: black;
}

.menuClicked{
	transition: transform 1s;
	transform: rotate(90deg);
}

.menuUnclicked{
	transition: transform 1s;
	transform: rotate(0deg);
}

.dropdown{
	display: none;
}

.dropdownShown{
	display: block;
}

#homeSection{
	margin-left: 25%;
	width: 50%;
	height: 100vh;
}

#homeIntro{
	position: relative;
	color: white;
	top: 50px;
}

#homeImage{
	margin-top: 100px;
	width: 100%;
}

.pictureSection{
	background-color: #CEB67E;
	height: 100vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.pictures{
	height: 40%;
	width: 30%;
	margin: 15px 15px;
}

.pictures img{
	height: 100%;
	width: 100%;
}

.mapSection{
	background-color: #a36718;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.map{
	height: 80%;
	width: 80%;
}

.map img{
	height: 100%;
	width: 100%;
}



@media only screen 
and (max-width: 600px){

	.layer{
		display: block;
	}

	.navLink{
		display: none;
	}

	.dropdown{
		height: 100px;
		width: 100%;
		background-color: white;
	}

	.dropdownNavLink{
		clear: both;
		float: right;
	}
}