/* Created by Roni Salman */

html,body{
	height: 100vh;
	background-color: #a36718;
	margin: 0px;
	font-family: 'Varela Round', sans-serif;
}

#navbar{
	background-color: white; 
	padding: 15px;
	text-align: center;
}


a{
	margin: 0px 15px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	float: left;
}

h1{
	display: inline;
	font-size: 20px;
}

#contact,#menu{
	float: right;
}

#menu{
	border: none;
	background: none;
	outline: none;
}

.layer{
	display: none;
	margin: 2px 0px;
	width: 25px;
	height: 5px;
	background-color: black;
}

.menuClicked{
	transition: transform 1s;
	transform: rotate(90deg);
}

.menuUnclicked{
	transition: transform 1s;
	transform: rotate(0deg);
}

.dropdown{
	display: none;
}

.dropdownShown{
	display: block;
}

#homeSection{
	margin: 0 25%;
	width: 50%;
	height: 100vh;
}

#homeIntro{
	
}

#homeImage{
	width: 100%;
}

@media only screen 
and (max-width: 600px){

	.layer{
		display: block;
	}

	.navLink{
		display: none;
	}

	.dropdown{
		height: 100px;
		width: 100%;
		background-color: white;
	}

	.dropdownNavLink{
		clear: both;
		float: right;
	}
}